@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
     /* background-image: url(./Background.jpg); */
    background: linear-gradient(180deg,rgb(0, 5, 3),rgb(28, 42, 49) ,rgb(3, 48, 40));
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
    font-family: 'poppins' sans-serif;
}

.container{
    padding: 20px 70px;
    color: #fff;
}

.current_info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.date_container{
    font-weight: 100px;
}

.date_container .time {
    font-size: 70px;
}

.date_container #am_pm{
    font-size: 30px;
    margin-left: 20px;
}

.date_container .date{
    font-size: 30px;
}

.place_container{
    text-align: end;
}

.place_container .time_zone{
    font-size: 30px;
    font-weight: 200px;
}

.place_container .country{
    font-size: 12px;
    font-weight: 700px; 
}

.current_info .others{
    display: flex;
    flex-direction: column;
    background: rgba(24, 24, 27, 0.6);
    padding: 20px;
    border-radius: 10px;
    margin: 10px 0px 10px 0px;
    border: 1px solid white;
}

.current_info .others .weather_items{
    display: flex;
    justify-content: space-between;
}

.future_forecast{
    background: rgba(24, 24, 27, 0.8);
    padding: 25px;
    position: fixed;
    bottom: 0;
    display: flex;
    color: white;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.future_forecast .today{
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0px 10px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 15px;
}

.future_forecast .today .day{
    padding: 5px 15px;
    background: #3c3c44;
    border-radius: 50px;
    text-align: center;
}

.future_forecast .today .temperature{
    font-size: 20px;
    padding-top: 15px;
}

.future_forecast .weather_forecast{
    display: flex;

}

.weather_forecast .weather_forecast_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px 10px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 15px;
}

.weather_forecast .weather_forecast_item .day{
    padding: 5px 15px;
    background: #3c3c44;
    border-radius: 50px;
    text-align: center;
}

.weather_forecast .weather_forecast_item .temperature{
    font-weight: 100;
}

@media only screen and (max-width:730px){

    .container{
        padding: 20px;
    }

    .future_forecast{
        justify-content: start;
        align-items: none;
        overflow-y: scroll;
    }

    .future_forecast .today .temperature{
        font-size: 23px;
    }

    .date_container .time{
        font-size: 50px;   
    }

    .date_container #am_pm{
        font-size: 20px;
    }

    .date_container .date{
        font-size: 20px;   
    }

    .place_container{
        text-align: end;
        margin-top: 15px;
    }

    .place_container .time_zone{
        font-size: 20px;
    }

    .future_forecast{
        justify-content: start;
        align-items: none;
        overflow-y: scroll;
    }

    .future_forecast .today .temperature{
        font-size: 23px;
    }

    .date_container .time{
        font-size: 50px;
    }

    .date_container #am_pm{
        font-size: 20px;
    }

    .date_container .date{
        font-size: 20px;
    }

    .place_container{
        text-align: end;
        margin-top: 15px;
    }

    .place_container .time_zone{
        font-size: 20px;
    }

    .current_info .others{
        padding: 12px;
    }

    .current_info .others .weather_items{
        font-size: 14px;
    }
}

@media only screen and (max-width: 1000px){

    .future_forecast{
        justify-content: start;
        align-items: none;
        overflow-y: scroll;
    }
}